.about {
  font-family: "Jeju Gothic", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 890px;
  color: #d2d2d2;
}

.about__title {
  text-align: left;
}

.about__subtitle {
  text-align: left;
}

.about__text-content {
  max-width: 443px;
}

.about__image {
  float: right;
  max-width: 443px;
  width: 100%;
}
