.friends {
  max-width: 1090px;
}

.friends__tiktok-videos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.friends__video {
  max-height: 561px;
  max-width: 325px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .friends__tiktok-videos {
    flex-wrap: wrap;
  }
}
