.nav {
  display: flex;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 40px auto 25px;
}

.nav__image {
  margin: 0 20px;
  max-width: 259px;
  max-height: 259px;
}

.nav__link {
  margin-top: 40px;
  padding: 0 10px;
  text-decoration: none;
  color: #d2d2d2;
  font-family: "Jeju Gothic", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  max-height: 40px;
  cursor: pointer;
  transition: background-color ease-out 0.4s;
}

.nav__link:hover {
  background-color: #fac659;
  border-radius: 0px 0px 10px 0px;
  color: #0f0f0f;
}

.nav__hmburger-button {
  max-height: 40px;
  margin-top: 80px;
  padding-right: 25px;
  cursor: pointer;
  display: none;
}

.nav__bar {
  display: block;
  border-bottom: 3px solid aliceblue;
  width: 35px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 989px) {
  .nav__image {
    max-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: -48px;
    right: 0;
    padding-bottom: 30px;
    margin: 0;
    justify-content: end;
    flex-direction: column-reverse;
    gap: 0;
    width: 100%;
    background-color: #0f0f0f;
    z-index: 100000;
  }
  .nav__links {
    display: none;
  }
  .nav__links_active {
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
    gap: 0;
    margin: 0;
    transition: 0.3s;
    width: 100%;
  }
  .nav__link {
    margin: 0;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
  .nav__image {
    display: none;
  }
  .nav__hmburger-button {
    display: block;
    align-self: flex-end;
  }
  .nav__bar_rotate_plus_active {
    transform: translateY(10px) rotate(45deg);
  }
  .nav__bar_opacity_active {
    opacity: 0;
  }
  .nav__bar_rotate_minus_active {
    transform: translateY(-10px) rotate(-45deg);
  }
}
