.section {
  color: #D2D2D2;
  margin: 150px auto 0;
}

.section__title {
  font-family: 'Irish Grover', cursive;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  text-align: center;

}

.section__subtitle {
  font-family: 'Jeju Gothic', sans-serif;
  font-weight: 400;
  color: #8a7eee;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin: 25px 0 40px;
}

@media screen and (max-width: 900px) {
  .section {
  padding: 0 15px;
  }
}